---
import PageLayout from "../layouts/PageLayout.astro";

import SectionTitle from "../components/SectionTitle.astro";
import Section from "../components/Section.astro";
import PageTitle from "../components/PageTitle.astro";

const title = "Dev | My Dashboard";
const siteIcon = "/myhomepage/images/dev.png";
// Data for Dev Tools
const devTools = [
  {
    title: "Excalidraw",
    description:
      "Excalidraw is a virtual collaborative whiteboard tool that lets you easily sketch diagrams that have a hand-drawn feel to them.",
    imageUrl:
      "https://images.seeklogo.com/logo-png/54/1/excalidraw-logo-png_seeklogo-548100.png",
    link: "https://excalidraw.com",
    altText: "excalidraw",
    imageWidth: "w-12",
  },
  {
    title: "FlexboxLabs",
    description:
      "Flexbox Labs is a visual tool that helps you create layouts using CSS Flexbox. It offers an intuitive interface that shows changes in real-time, making it easy to experiment and learn.",
    imageUrl: "/myhomepage/images/flexboxlabs.svg",
    link: "https://flexboxlabs.netlify.app/",
    altText: "flexboxlabs",
    imageWidth: "w-12",
  },
  {
    title: "roadmap.sh",
    description:
      "roadmap.sh is a community effort to create roadmaps, guides and other educational content to help guide developers in picking up a path and guide their learnings.",
    imageUrl: "/myhomepage/images/roadmap.svg",
    link: "https://roadmap.sh/",
    altText: "roadmap.sh",
    imageWidth: "w-12",
  },
  {
    title: "Repobeats",
    description:
      "Stunning insights for your GitHub Repo. Give your README.md some insightful eye-candy. Incredible insights for contributors and users.",
    imageUrl: "/myhomepage/images/repobeats.svg",
    link: "https://repobeats.axiom.co/",
    altText: "repobeats",
    imageWidth: "w-36",
  },
  {
    title: "Ratatype",
    description:
      "Learn to type faster with Ratatype typing tutor. Take our typing lessons for free. Improve your typing speed and accuracy with interactive exercises and personalized feedback.",
    imageUrl: "/myhomepage/images/ratatype.svg",
    link: "https://www.ratatype.com/",
    altText: "repobeats",
    imageWidth: "w-36",
  },
  {
    title: "Material Design",
    description:
      "Material Design is an adaptable system of guidelines, components, and tools that support the best practices of user interface design. Material Design helps teams quickly build beautiful products.",
    imageUrl:
      "https://upload.wikimedia.org/wikipedia/commons/c/c7/Google_Material_Design_Logo.svg",
    link: "https://m3.material.io/",
    altText: "materialdesign",
    imageWidth: "w-12",
  },
  {
    title: "LDRS",
    description:
      "Free, open-source loaders and spinners for your next project. Built with HTML, CSS & SVG, and powered by web components, for maximum compatibility.",
    imageUrl: "/myhomepage/images/ldrs.svg",
    link: "https://uiball.com/ldrs/",
    altText: "ldrs by uiball",
    imageWidth: "w-24 invert",
  },
  {
    title: "pub.dev",
    description: "The official package repository for Dart and Flutter apps.",
    imageUrl: "https://pub.dev/static/hash-ffjootqp/img/pub-dev-logo.svg",
    link: "https://pub.dev/",
    altText: "pubdev",
    imageWidth: "w-36",
  },
];
// Data for Academy & Courses
const academy = [
  {
    title: "freeCodeCamp",
    description:
      "freeCodeCamp.org is a friendly community where you can learn to code for free. Our community has already helped more than 40,000 people get their first developer job.",
    imageUrl: "/myhomepage/images/freecodecamp.svg",
    link: "https://www.freecodecamp.org/",
    altText: "freecodecamp",
    imageWidth: "w-44 invert",
  },
  {
    title: "Coursera",
    description:
      "Coursera partners with more than 300 leading universities and companies to bring flexible, affordable, job-relevant online learning to individuals and organizations worldwide.",
    imageUrl: "/myhomepage/images/coursera.svg",
    link: "https://www.coursera.org/",
    altText: "coursera",
    imageWidth: "w-32",
  },
  {
    title: "Dicoding Indonesia",
    description:
      "Dicoding Academy is an online learning program & platform under Dicoding Indonesia which focuses on world-class training and development for the IT and programming sector.",
    imageUrl: "/myhomepage/images/dicoding.png",
    link: "https://dicoding.com/",
    altText: "dicoding",
    imageWidth: "w-14",
  },
  {
    title: "MongoDB University",
    description:
      "Learn MongoDB and Advance Your Career. Build skills for your future. Learn to get the most from MongoDB products with our labs, courses and live training",
    imageUrl:
      "https://webimages.mongodb.com/_com_assets/cms/kuyjf3vea2hg34taa-horizontal_default_slate_blue.svg?auto=format%252Ccompress",
    link: "https://learn.mongodb.com/",
    altText: "mongodbuniversity",
    imageWidth: "w-36",
  },
  {
    title: "Dunia Coding",
    description:
      "Unlock your essential tech skills, connect & grow with our community. Siapkan diri untuk dunia digital yang dinamis di masa depan bersama Dunia Coding!",
    imageUrl: "https://duniacoding.id/v2/basic/icon-big.svg",
    link: "https://duniacoding.id/",
    altText: "duniacoding",
    imageWidth: "w-36 invert",
  },
  {
    title: "Linux Journey",
    description:
      "Linux Journey is a site dedicated to making learning Linux fun and easy. Learn the ways of Linux-fu, for free.",
    imageUrl: "https://linuxjourney.com/assets/jumbotron-60c93c2fc6bb16079b70fe2eccacaa05f2d6b002af4ff0667ddd8e283cbf81fd.png",
    link: "https://linuxjourney.com/",
    altText: "duniacoding",
    imageWidth: "w-16",
  },
];
// Data for Documentations
const documentations = [
  {
    title: "Flutter Docs",
    description:
      "Get started with Flutter. Widgets, examples, updates, and API docs to help you write your first Flutter app.",
    imageUrl:
      "https://docs.flutter.dev/assets/images/branding/flutter/logo+text/horizontal/default.svg",
    link: "https://docs.flutter.dev/",
    altText: "doc.flutter.dev",
    imageWidth: "w-36",
  },
];
---

<PageLayout title={title} , siteIcon={siteIcon}>
  <div class="container mx-auto px-5 py-5">
    <!-- Page Title -->
    <PageTitle text="Developer Resources" />
    <!-- Dev Tools -->
    <SectionTitle text=" Dev Tools" iconClass="nf-oct-code_square" />
    <Section sites={devTools} />
    <!-- Academy & Courses -->
    <SectionTitle text=" Academy & Courses" iconClass="nf-md-school" />
    <Section sites={academy} />
    <!-- Documentations -->
    <SectionTitle text=" Documentations" iconClass="nf-cod-book" />
    <Section sites={documentations} />
  </div>
</PageLayout>
