---
import PageLayout from "../layouts/PageLayout.astro";

import SectionTitle from "../components/SectionTitle.astro";
import Section from "../components/Section.astro";
import PageTitle from "../components/PageTitle.astro";

const title = "UI&UX | MyHomepage";
const siteIcon = "/myhomepage/images/uiux.png";
// Data for AI Chatbots
const toolsAndLibrary = [
  {
    title: "Penpot hub",
    description:
      "Penpot is the web-based open-source design tool that bridges the gap between designers and developers. The place to find resources created, shared and shaped by open-source collaboration.",
    imageUrl:
      "https://site-assets.plasmic.app/5a092f8c015ea24a9c0953e5ca065580.svg",
    link: "https://penpot.app/penpothub",
    altText: "Penpothub",
    imageWidth: "w-32",
  },
  {
    title: "SEESAW Design Inspiration",
    description:
      "The best web design inspiration Browse the best of the internet. Hand-picked and updated daily.",
    imageUrl:
      "https://pbs.twimg.com/profile_images/1827733334136401920/_x7q3Aha_400x400.jpg",
    link: "https://www.seesaw.website/",
    altText: "seesaw",
    imageWidth: "w-12",
  },
  {
    title: "60fps",
    description:
      "Endless collection of delightful details from best-in-class apps",
    imageUrl: "/myhomepage/images/60fps.jpg",
    link: "https://60fps.design/",
    altText: "60fpsdesign",
    imageWidth: "w-12",
  },
  {
    title: "unDraw",
    description:
      "Open-source illustrations for any idea you can imagine and create.",
    imageUrl: "/myhomepage/images/undraw.svg",
    link: "https://undraw.co/",
    altText: "unDraw",
    imageWidth: "w-14",
  },
  {
    title: "Dribbble",
    description:
      "Discover the world’s top designers. Explore work from the most talented and accomplished designers ready to take on your next project",
    imageUrl: "/myhomepage/images/dribbble.svg",
    link: "https://dribbble.com/",
    altText: "Dribbble: the community for graphic design",
    imageWidth: "w-32",
  },
  {
    title: "Mobbin",
    description:
      "Mobbin is a game-changer for designers looking to step up their understanding of UX and UI design patterns.",
    imageUrl: "/myhomepage/images/mobbin.svg",
    link: "https://mobbin.com/",
    altText: "Mobbin",
    imageWidth: "w-14",
  },
  {
    title: "Landingfolio",
    description:
      "Landingfolio features the best landing page designs, templates, component and more on the web. Get inspired by real landing page examples curated by us to ensure the highest quality.",
    imageUrl: "/myhomepage/images/landingfolio.svg",
    link: "https://landingfolio.com/",
    altText: "Landingfolio",
    imageWidth: "w-14",
  },
  {
    title: "Footer",
    description:
      "Footer is a curated gallery of the top website footer inspiration on earth. Find the footers you need and sort by type and style.",
    imageUrl: "/myhomepage/images/footer.svg",
    link: "https://footer.design/",
    altText: "Footer Design",
    imageWidth: "w-24",
  },
  {
    title: "Dark Design Inspiration",
    description:
      "The best hand-picked dark themed websites on the internet. From designers for designers. Curated with love.",
    imageUrl: "/myhomepage/images/darkdesign.svg",
    link: "https://www.dark.design/",
    altText: "Dark Design Inspiration",
    imageWidth: "w-24 invert",
  },
  {
    title: "Jitter",
    description:
      "Jitter enables creators and teams to easily design stunning animated content and interfaces. Explore ideas faster with animation presets.",
    imageUrl: "/myhomepage/images/jitter.svg",
    link: "https://jitter.video/",
    altText: "Jitter",
    imageWidth: "w-20",
  },
  {
    title: "Maneken",
    description:
      "Browser powered mockup editor. Showcase your content in any medium, insert any media type, drag and drop images, videos and gifs directly into the mockup slot.",
    imageUrl:
      "https://maneken.app/logotype.svg",
    link: "https://maneken.app/",
    altText: "Maneken App",
    imageWidth: "w-34",
  },
  {
    title: "UXPin",
    description:
      "A collaborative design platform that combines design, prototyping, and developer handoff, allowing teams to build faster and more consistently.",
    imageUrl:
      "https://www.uxpin.com/images/uxpin-logo-new.svg",
    link: "https://www.uxpin.com/",
    altText: "UXPin",
    imageWidth: "w-14 invert",
  },
  {
    title: "Figma",
    description:
      "Figma is a collaborative interface design tool that enables teams to create, prototype, and gather feedback on designs in one shared space.",
    imageUrl: "https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Figma-logo.svg/120px-Figma-logo.svg.png",
    link: "https://www.figma.com/",
    altText: "Figma",
    imageWidth: "w-10",
  },
];

//Data for Color Palletes
const colorPalletes = [
  {
    title: "Adobe Color",
    description: "Adobe Color is a an application that allows creative professionals to explore, create, and share color themes.",
    imageUrl: "https://www.adobe.com/federal/assets/svgs/adobe-logo.svg",
    link: "https://color.adobe.com/",
    altText: "Adobe Color",
    imageWidth: "w-24",
  },
  {
    title: "Color Hunt",
    description:
      "Discover the newest hand-picked color palettes of Color Hunt. Get color inspiration for your design and art projects.",
    imageUrl: "https://colorhunt.co/img/color-hunt-logo-face.svg",
    link: "https://colorhunt.co/",
    altText: "Color Hunt",
    imageWidth: "w-26",
  },
  {
    title: "UI Colors",
    description:
      "Create and customize beautiful Tailwind CSS color palettes. Generate, edit, and export colors for your design with our intuitive color generator tool.",
    imageUrl: "/myhomepage/images/uicolors.jpeg",
    link: "https://uicolors.app/",
    altText: "UI Colors",
    imageWidth: "w-12",
  },
  {
    title: "Coolors",
    description:
      "The super fast color palettes generator! Create the perfect palette or get inspired by thousands of beautiful color schemes",
    imageUrl:
      "https://coolors.co/assets/img/logo.svg",
    link: "https://coolors.co/",
    altText: "Coolors",
    imageWidth: "w-30",
  },
  {
    title: "Paletton",
    description:
      "Play around with the various color palettes and work on fine tuning your vision down to the tiniest detail.",
    imageUrl:
      "https://logosandtypes.com/wp-content/uploads/2021/04/paletton.svg",
    link: "https://paletton.com/",
    altText: "Paletton",
    imageWidth: "w-20",
  },
  {
    title: "Khroma",
    description:
      "Khroma uses AI to learn which colors you like and creates limitless palettes for you to discover, search, and save.",
    imageUrl:
      "https://www.khroma.co/assets/images/wordmark.svg",
    link: "https://khroma.co/",
    altText: "Khroma",
    imageWidth: "w-28 invert",
  },
];

// Data for Fonts & Icons
const fontsAndIcons = [
  {
    title: "Google Fonts",
    description:
      "Google Fonts is a library of over 1,400 free licensed font families and APIs for conveniently using the fonts via CSS and Android.",
    imageUrl: "/myhomepage/images/googlefonts.svg",
    link: "https://fonts.google.com/",
    altText: "Google Fonts",
    imageWidth: "w-20",
  },
  {
    title: "Fontspace",
    description:
      "Fontspace is a free font library with over 20,000 free fonts. Discover and download the best free fonts for all your creative designs.",
    imageUrl: "https://fontspace.imgix.net/static/fontspace-logo-black-bg.svg",
    link: "https://www.fontspace.com/new/fonts?p=7",
    altText: "Fontspace",
    imageWidth: "w-40",
  },
  {
    title: "Fontshare.",
    description:
      "Fontshare is a free fonts service launched by the Indian Type Foundry (ITF). It’s a growing collection of professional grade fonts that are 100% free for personal and commercial use.",
    imageUrl: "https://www.fontshare.com/static/favicon.png",
    link: "https://www.fontshare.com/",
    altText: "Fontshare",
    imageWidth: "w-14",
  },
  {
    title: "icon.kitchen",
    description: "Quickly generate app icons for Android, iOS, the Web and more.",
    imageUrl: "/myhomepage/images/iconkitchen.svg",
    link: "https://icon.kitchen",
    altText: "icon kitchen",
    imageWidth: "w-20",
  },
  {
    title: "Heroicons",
    description:
      "Heroicons is a set of free, high-quality SVG icons for you to use in your web projects. Whether you're building a website, a dashboard, or a mobile app, Heroicons has the icons you need.",
    imageUrl:
      "https://raw.githubusercontent.com/tailwindlabs/heroicons/HEAD/.github/logo-dark.svg",
    link: "https://heroicons.com/",
    altText: "Heroicons",
    imageWidth: "w-36",
  },
  {
    title: "Font Awesome",
    description: "Get vector icons and social logos on your website with Font Awesome, the web's most popular icon set and toolkit.",
    imageUrl: "https://docs.fontawesome.com/_astro/font-awesome-flag.C9hR3xMd.svg",
    link: "https://fontawesome.com/",
    altText: "Font Awesome",
    imageWidth: "w-16",
  },
];
---

<PageLayout title={title} , siteIcon={siteIcon}>
  <div class="container mx-auto px-5 py-5">
    <!-- Page Title -->
    <PageTitle text="UI/UX Resources" />
    <!-- Tools & Library -->
    <SectionTitle text=" Tools & Library" iconClass="nf-cod-library" />
    <Section sites={toolsAndLibrary} />
    <!-- Color Palletes -->
    <SectionTitle text=" Color Palletes" iconClass="nf-cod-symbol_color" />
    <Section sites={colorPalletes} />
    <!-- Fonts & Icons -->
    <SectionTitle text=" Fonts & Icons" iconClass="nf-seti-font" />
    <Section sites={fontsAndIcons} />
  </div>
</PageLayout>
