---
import Card from "./Card.astro";

interface Section {
    title: string;
    description: string;
    imageUrl: string;
    link: string;
    altText: string;
    imageWidth?: string;
    imageHeight?: string;
}

interface Props {
    sites: Section[];
}

const { sites } = Astro.props;
---

<div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 tracking-wide"
    style="font-family: cascadiacove;"
>
    {
        sites.map((chatbot) => (
            <Card
                title={chatbot.title}
                description={chatbot.description}
                imageUrl={chatbot.imageUrl}
                link={chatbot.link}
                altText={chatbot.altText}
                imageWidth={chatbot.imageWidth}
                imageHeight={chatbot.imageHeight}
            />
        ))
    }
</div>
